<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="header(title)">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon.png">

  <th:block th:replace="${title}"></th:block>
</head>
</html>